<h2>村の作成</h2>

<form action="." method="post" id="vil_form">
<input type="hidden" name="cmd" value="make">
<table width="100%">
<tr>
<td>村の名前: </td><td><input name="name" size="16"></td>
<td><input type="submit" value="村作成"></td>
</tr>
</table>
</form>
