<p>この役職配分一覧はこの国の設定から自動生成されています。村人の人数はダミーであるソフィーに配役される数を含みます。実際の配役はこれらの役職配分から比重(大きい方が可能性が高い)を考慮してランダムに選択されます。</p>
<% @table.keys.sort.each {|num| %>
<h2><%= num %>人村</h2>
<pre>
<%= @table[num] %>
</pre>
<% } %>
